---
interface JobExperience {
  title: string;
  period: string;
  company: string;
  description: string[];
  technologies: string[];
}

const experiences: JobExperience[] = [
  {
    title: "Software Engineer Intern",
    period: "September 2025 - January 2026",
    company: "BMAT Music Innovators",
    description: [
      "During my internship, I worked on a full-stack web application, contributing to both frontend and backend development. I built user-friendly interfaces using Vue.js, focused on efficiently managing and displaying data connected to a backend service.",
      "On the backend, I maintained and improved a REST API developed with Python and Flask, implementing CRUD operations with SQLAlchemy and a PostgreSQL database. I also used Docker to containerize the application, ensuring consistent environments across development and deployment.",
      "This experience gave me a strong understanding of the end-to-end software development workflow, from Jira ticket planning to implementation, version control with Git, and collaborative teamwork.",
    ],
    technologies: ["vue", "python", "docker", "git"],
  },
];
---

<section
  id="experience"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Work experience</h2>
    <div class="grid grid-cols-1 gap-8">
      {
        experiences?.map((job) => (
          <div class="flex flex-col gap-4">
            <div>
              <h3 class="text-3xl font-semibold mb-2">
                {job.title} at {job.company}
              </h3>
              <h4>{job.period}</h4>
            </div>
            <div>
              <h2 class="text-[var(--sec)]">Description</h2>
              <div>
                {job.description.map((desc) => (
                  <p class="mb-2 text-stone-400">{desc}</p>
                ))}
              </div>
            </div>
            <div>
              {job.technologies && job.technologies.length > 0 && (
                <div>
                  <h2 class="text-[var(--sec)] mb-2">Tech stack</h2>
                  <ul class="flex flex-wrap gap-2">
                    {job.technologies.map((tech) => (
                      <li class="bg-stone-800 border-[var(--sec)] rounded-full px-3 py-2 flex items-center gap-2">
                        <img class="size-4" src={`/svg/${tech}.svg`} alt="" />
                        <p class="text-sm sm:text-base">{tech}</p>
                      </li>
                    ))}
                  </ul>
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
